.header{
  
  height: 50vh;
  width: 100%;
  background: url('C:\Users\Piero\Desktop\React\book-search\src\images\library.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.title{
  padding:0;
  color: #fff;
  font-size: 72px;
  text-align:center;
}

.text-search{
  margin: 0 45% ;
}