html{
    font-size: 12px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: #fff;
}

p{
    font-size: 1.6rem;
}

small{
    font-size: 1.2rem;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
    padding: 40px;
}

.header{
    background-image: url(./images/bookshelf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Libre Baskerville', serif;
    border-radius: 20px;
    height:15vh;
    
}

.title{
    font-size:4.4rem;
    text-align:center;
}

.form{
    display:grid;
}



 .button{
    background-color: rgba(0,0,0,0.75);
    color: white;
    padding: 1rem 2rem;
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 1.5rem;
    font-family: 'Libre Baskerville', serif;
    
    transition: background-color 250ms;
}

.button:hover{
    background-color: rgba(0,0,0,0.85)
}
 
