html{
    font-size: 12px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: #fff;
}


.container{
    margin: 0 auto;
    max-width: 1000px;
    padding: 40px;
}

.header{
    background-image: url(./images/bookshelf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Libre Baskerville', serif;
    border-radius: 20px;
    height:15vh;
    
}

.title{
    font-size:4.4rem;
    text-align:center;
}



